:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #222222;
  --color-body-darker: #5c5577;
  --color-dark-blue: #06091d;
  --color-border: #ccc;
  --border-radius: 30px;
  --color-reddish: #ca4f61;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Typography */
::-moz-selection {
  background: var(--color-primary);
  color: white;
}
::selection {
  background: var(--color-primary);
  color: white;
}

@font-face {
  font-family: "gilroy-light";
  src: url("./fonts/gilroy-light-webfont.woff2") format("woff2"), url("./fonts/gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gilroy-medium";
  src: url("./fonts/gilroy-medium-webfont.woff2") format("woff2"), url("./fonts/gilroy-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GaramondPremrPro";
  src: url("./fonts/GaramondPremrPro.woff2") format("woff2"), url("./fonts/GaramondPremrPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: "GaramondPremrPro", serif;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1,
h2 {
  color: var(--color-reddish);
  font-family: "GaramondPremrPro";
}

h1 {
  font-size: 5rem;
  font-family: "GaramondPremrPro";
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
  color: #364e61;
}

h4 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #6abf4a;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 4.5rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  h4 {
    font-size: 3rem;
  }
  body {
    font-size: 1.8rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  -webkit-transition: margin 0.15s;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

/* Badges */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: white;
}

.badge--secondary {
  background: var(--color-secondary);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
  color: var(--color-headings);
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: white;
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-container--accent {
  background: var(--color-accent);
}

/* Buttons */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.btn--primary {
  background: var(--color-primary);
  color: white;
}

.btn--primary:hover {
  background: #3a8ffd;
}

.btn--secondary {
  background: var(--color-secondary);
  color: white;
}

.btn--secondary:hover {
  background: #00c8eb;
}

.btn--accent {
  background: var(--color-accent);
  color: white;
}

.btn--accent:hover {
  background: #ec3000;
}

.btn--outline {
  border: 2px solid var(--color-headings);
  color: var(--color-headings);
  background: white;
}

.btn--outline:hover {
  background: var(--color-headings);
  color: white;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

/* Inputs */
.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  font-weight: 300;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

::-webkit-input-placeholder {
  color: #cdcbd7;
}

:-ms-input-placeholder {
  color: #cdcbd7;
}

::-ms-input-placeholder {
  color: #cdcbd7;
}

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-group .input {
  border: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1.5rem 2rem;
  width: 0;
}

.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Cards */
.card {
  border-radius: 7px;
  -webkit-box-shadow: 0 0 20px 10px #f3f3f3;
          box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
  background-color: white;
}

.card img {
  width: 100%;
}

.card__header,
.card__body {
  padding: 2rem 7%;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: white;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: white;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}

.card--primary .badge--primary {
  background: #126de4;
}

/* Plans */
.card {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.plan__name {
  color: white;
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
}

.plan__price {
  font-size: 5rem;
}

.plan__billing-cycle {
  font-size: 2rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 300;
  display: block;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (min-width: 1024px) {
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.7rem;
  }
}

/* Media */
.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media__body {
  margin: 0 2rem;
}

.media__title {
  margin-top: 0;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 0;
}

.block--dark .media__content {
  color: white;
}

.block--dark .media__title {
  color: white;
}

/* Quotes */
.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote .media__body {
  font-style: normal;
}

.quote__author {
  color: var(--color-headings);
  font-weight: 500;
  margin-bottom: 0;
}

.quote__company {
  font-size: 2rem;
  color: var(--color-headings);
  opacity: 40%;
}

.quote__line {
  position: relative;
  bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
  .quote__author {
    font-size: 2.4rem;
  }
  .quote__company {
    font-size: 1.6rem;
  }
  .quote__line {
    bottom: 15px;
  }
}

/* Grids */
.grid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonials */
.testimonial {
  padding: 3rem;
}

.testimonial .quote {
  margin: 2rem 0;
  font-size: 110%;
}

.testimonial__image > img {
  width: 100%;
}

.testimonial__image {
  position: relative;
  margin: 0 3rem;
}

.testimonial__image > .icon-container {
  position: absolute;
  right: -32px;
  top: 3rem;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }
  .testimonial .quote {
    margin: 5rem 0 0 6rem;
    font-size: 120%;
    line-height: 1.5;
  }
  .testimonial__image {
    margin: 0;
  }
}

/* Callouts */
.callout {
  padding: 4rem;
  border-radius: 5px;
  max-width: 980px;
  margin: 0 auto;
}

.callout--primary {
  background: var(--color-primary);
  color: white;
}

.callout__heading {
  color: white;
  margin-top: 0;
  font-size: 3rem;
}

.callout .btn {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.callout__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
  }
  .callout__content {
    text-align: left;
  }
  .callout .btn {
    -ms-grid-column-align: start;
        justify-self: start;
    margin: 0 2rem;
  }
}

/* Collapsibles */
.collapsible__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collapsible__heading {
  font-size: 3rem;
  margin: 0;
}

.collapsible__chevron {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 0;
}

.block__heading {
  margin-top: 0;
  text-align: center;
}

.block--light {
  background-color: #f7f7f7;
}

.block--dark {
  background: var(--color-reddish);
  color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3,
.block--dark h4 {
  color: white;
}

.block--skewed-right {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--skewed-left {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

/* Container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navigation Bars */
.nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-bottom: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  border-radius: 5px;
}

.nav-bg-image {
  min-height: 250px;
  background-image: url(../images/pexels-pixabay-373543.jpg);
  height: 30vw;
  background-size: cover;
  max-height: 500px;
}

.nav__brand {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.nav__brand .logo {
  margin-left: 20px;
  height: 54px;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: #272932;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__item > a:hover {
  color: var(--color-reddish);
}

.nav__toggler {
  opacity: 0.5;
  -webkit-transition: -webkit-box-shadow 0.15s;
  transition: -webkit-box-shadow 0.15s;
  transition: box-shadow 0.15s;
  transition: box-shadow 0.15s, -webkit-box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  -webkit-box-shadow: 0 0 0 3px #666;
          box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .nav__list {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
  .nav__toggler {
    display: none;
  }
}

/* Hero */
.hero__tagline {
  font-size: 2rem;
  color: var(--color-body-darker);
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
  text-align: center;
}

.hero__img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero__content {
    text-align: left;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

/* Domain */
.block-domain .input-group {
  -webkit-box-shadow: 0 0 30px 20px #e6ebee;
          box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  max-width: 670px;
  margin: 4rem auto;
}

.block-domain__prices {
  color: var(--color-headings);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (6rem)[2];
      grid-template-rows: repeat(2, 6rem);
  font-size: 2rem;
  justify-items: center;
  font-weight: 600;
  max-width: 700px;
  margin: 0 auto;
}

.block-domain__tagline {
  font-size: 2.2rem;
  margin: 4rem 0;
}

@media screen and (min-width: 768px) {
  .block-domain__prices {
    -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

/* Plans block */
.block-plan .grid {
  gap: 8rem 4rem;
}

.block-plan .card {
  max-width: 350px;
  margin: 0 auto;
}

/* Features block */
.feature {
  gap: 4rem;
  margin: 12rem 0;
}

.feature:first-of-type {
  margin-top: 6rem;
}

.feature__heading {
  margin: 1rem 0;
}

.feature__image {
  width: 100%;
  max-width: 500px;
  max-height: 375px;
  border-radius: 10%;
}

.feature__content p {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

/* Showcase blocks */
.showcase {
  row-gap: 3rem;
}

.showcase__image > img {
  width: 100%;
}

.block-showcase .grid {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .block-showcase .grid {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
  .media {
    margin: 8rem 0;
  }
}

/* Footer */
.footer {
  color: white;
}

.footer h2 {
  text-align: center;
}

.footer .grid {
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer a {
  color: #777;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer a:hover {
  color: #fff;
}

.footer__section .list {
  margin: 0;
}

.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer__brand {
  margin-top: 5rem;
  text-align: center;
}

.footer__brand .logo {
  /* TODO: Consider refactoring this and applying it to 
    all images. */
  margin-bottom: 15px;
  max-width: 230px;
}

.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .footer__sections {
    margin-top: 3rem;
    -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .footer__brand {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 1rem;
  }
  .footer__section {
    border: 0;
  }
  .footer__heading {
    font-size: 1.6rem;
  }
}

input,
textarea {
  padding: 1rem 2rem;
  border-radius: 5px;
  outline: 0;
  margin-block: 1rem;
  width: 100%;
  background-color: #eef6fa;
  border: 1px solid white;
}

input:focus,
textarea:focus {
  border: 2px solid purple;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--color-body);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: var(--color-body);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: var(--color-body);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-body);
}

.button-primary {
  max-width: 100px;
  color: var(--color-body);
  cursor: pointer;
  font-weight: bold;
  margin-top: 0;
}

.button-primary:hover {
  background-color: #c7c3c3;
}

fieldset {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  max-width: 500px;
}

.tick {
  color: #17bc58;
}

.thank--link {
  font-size: 3rem;
}
/*# sourceMappingURL=styles.css.map */